spring.application.name=telegram-agent-ui-phase3

telegram.bot.name=${TELEGRAM_BOT_NAME:MiOraclePlannerBot}
telegram.bot.token=${TELEGRAM_BOT_TOKEN:}

agent.ai.enabled=${AGENT_AI_ENABLED:true}
agent.ai.base-url=${AGENT_AI_BASE_URL:https://api.groq.com/openai/v1}
agent.ai.api-key=${AGENT_AI_API_KEY:}
agent.ai.model=${AGENT_AI_MODEL:llama-3.3-70b-versatile}

logging.level.root=INFO
logging.level.com.oraclebot=DEBUG

